.banner {
  /* margin: 0 100px; */
  height: 100vh;
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner main {
  margin-bottom: 20px;
}

.banner main p {
  font-family: var(--third-font);
  font-size: 48px;
}

.banner .name {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.banner .name h1 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 1.2px;
  font-family: var(--secondary-font);
}

.banner .name p {
  margin-top: 0px;
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 20px;
  line-height: 1.7;
}

.available {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 16px;
  background-color: var(--blue-button-background);
  color: var(--blue-button-color);
  border: 1px solid var(--blue-button-border);
  border-radius: 4px;
  line-height: 24px;
  font-family: var(--main-font);
  font-weight: 500;
}

@media (max-width: 1100px) {
	.banner .name h1 {
    font-size: 48px;
  }

  .banner .name p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.7;
  }

  .available {
    padding: 6px 12px;
    font-size: 14px;
  }
}
  
@media (max-width: 768px) {
	.banner .name h1 {
    font-size: 32px;
  }

  .banner .name p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
  }

  .available {
    margin-top: 20px;
    padding: 4px 10px;
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .banner {
    height: calc(100vh - 80px);
  }

  .banner .name h2 {
    font-size: 32px;
  }
  
	.banner .name p {
    font-size: 14px;
  }

  .available {
    margin-top: 15px;
    padding: 2px 8px;
    font-size: 11px;
  }
}