footer {
	padding: 50px 100px;
	background-color: var(--footer-color);
}

footer .footer .social-links {
	margin-top: 10px;
}

footer .footer .social-links ul {
	display: flex;
	justify-content: center;
}

footer .footer .social-links ul li + li {
	margin-left: 25px;
}

footer .footer .social-links ul li a {
	color: var(--footer-text-color);
	font-size: 24px;
}

footer .footer .social-links ul li a:hover {
	color: var(--gray-color);
}

footer .footer .copyright {
	margin-top: 30px;
	color: var(--footer-text-color);
	font-size: 20px;
	text-align: center;
}

footer .footer .copyright a {
	color: var(--footer-text-color);
	font-weight: 700;
	letter-spacing: -1px;
}

footer .footer .copyright a:hover {
	text-decoration: underline;
}

/* footer .footer .social-links ul li a i {} */

footer .footer .circle {
	position: absolute;
	top: 50%;
	left: 260px;
	transform: translate(0, -50%);
	z-index: 0;
}

@media (max-width: 1100px) {
	footer .footer .social-links ul li a {
		font-size: 22px;
	}
}
  
@media (max-width: 768px) {
	footer {
		padding: 50px 80px;
	}
	footer .footer .social-links ul li a {
		font-size: 18px;
	}

	footer .footer .copyright {
		font-size: 14px;
	}
}

@media (max-width: 370px) {
	footer {
		padding: 30px 20px;
	}

    footer .footer .social-links ul li a {
		font-size: 16px;
	}
}