.photographs {
    margin: 180px 50px 100px;
}

.photographs .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px;
    /* width: calc(60% + 10px);
    display: flex;
    margin: 0 0 0 auto; */
}

.photographs .grid-one, .photographs .grid-two {
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 20px; */
    flex: 1;
}

.photographs .grid-two {
    margin-left: 5px;
}

/* .photographs .grid .item {
    height: 200px;
    margin: 20px;
} */

.photographs .grid .item + .item {
    /* height: 200px; */
    margin-top: 0px;
}

.photographs .grid img {
    max-width: 100%;
    height: auto;
}