.project-card {
    width: calc((100% - 50px) / 2);
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: var(--primary-color);
    border-radius: 3px;

    &:nth-child(even) {
        margin-left: 50px;
    }

    h4 a {
        color: var(--secondary-color);
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
    
    p.description {
        margin-top: 10px;
        font-size: 16px;
        color: var(--secondary-color);
        font-weight: 400;
    }
    
    p.duration {
        margin-top: 10px;
        font-size: 14px;
        color: var(--dark-gray-color);
        font-weight: 400;
    }
    
    .project-language-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project-language {
            display: inline-block;
            margin-top: 20px;
            margin-right: 10px;
            padding: 8px 14px;
            background-color: var(--lighter-gray-color);
            color: var(--secondary-color);
            /* border: 1px solid #dddddd; */
            border-radius: 4px;
            font-family: var(--main-font);
            font-size: 16px;
            font-weight: 500;
        }
    }
}


@media (max-width: 1100px) {
	.project-card h4 a {
        font-size: 22px;
    }
}
  
@media (max-width: 768px) {
	.project-card {
        margin-bottom: 0;

        h4 a {
            font-size: 16px;
        }

        p.description {
            font-size: 14px;
        }

        p.durations {
            font-size: 12px;
        }
    
        .project-language-cards {
            margin-top: 10px;

            .project-language {
                margin-top: 10px;
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 370px) {
    .project-card {
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 10px;
        text-align: center;

        .project-language-cards {
            justify-content: center;
    
            .project-language {
                font-size: 10px;
            }
        }
    }
}