.project-card {
    width: calc((100% - 50px) / 2);
    margin-bottom: 30px;
    padding: 20px 0;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.project-card:nth-child(even) {
    margin-left: 50px;
}

.project-card h4 a {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.project-card h4 a:hover {
    text-decoration: underline;
}

.project-card p.description {
    margin-top: 10px;
    font-size: 16px;
    color: var(--secondary-color);
    font-weight: 400;
}

.project-card p.duration {
    margin-top: 10px;
    font-size: 14px;
    color: var(--dark-gray-color);
    font-weight: 400;
}

.project-card .project-language-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card .project-language-cards .project-language {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 14px;
    background-color: var(--lighter-gray-color);
    color: var(--secondary-color);
    /* border: 1px solid #dddddd; */
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
}

.project-card .project-language-cards .project-language {
    margin-right: 10px;
}

@media (max-width: 1100px) {
	.project-card h4 a {
        font-size: 22px;
    }
}
  
@media (max-width: 768px) {
	.project-card h4 a {
        font-size: 16px;
    }

    .project-card p.durations {
        font-size: 12px;
    }

    .project-card .project-language-cards {
        margin-top: 10px;
    }

    .project-card .project-language-cards .project-language {
        margin-top: 10px;
        margin-right: 10px;
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .project-card {
        width: 100%;
    }

    .project-card {
        margin-left: 0 !important;
        margin-bottom: 10px;
        text-align: center;
    }

    .project-card .project-language-cards {
        justify-content: center;
    }

    .project-card .project-language-cards .project-language {
        font-size: 10px;
    }
}