:root {
    --primary-color: #fefefe;
    --secondary-color: #0f0f0f;
    --gray-color: #aaaaaa;
    --lighter-gray-color: #f4f7f9;
    --light-gray-color: #ebf0f3;
    --dark-gray-color: #777777;
    --header-border-color: #f3f3f3;
    --header-dropdown-color: #fefefe;
    --experience-color: #f4f7f9;
    --footer-color: #0f0f0f;
    --footer-text-color: #fefefe;
    
    --primary-font: Inter, 'Product Sans', sans-serif;
    --secondary-font: 'Product Sans', sans-serif;
    --hand-font: 'Hand', sans-serif;
    --mandy-font: 'Mandy', sans-serif;
  
    --success-button-background: rgba(39,174,96,.1);
    --success-button-color: #27ae60;
    --success-button-border: #27ae60;
  
    --blue-button-background: rgba(20,89,200,.1);
    --blue-button-color: #1459c8;
    --blue-button-border: #1459c8;
}

[data-theme="Sun"] {
    --primary-color: #fefefe;
    --secondary-color: #0f0f0f;
    --gray-color: #aaaaaa;
    --lighter-gray-color: #f4f7f9;
    --light-gray-color: #ebf0f3;
    --dark-gray-color: #777777;
    --header-border-color: #f3f3f3;
    --header-dropdown-color: #fefefe;
    --experience-color: #f4f7f9;
    --footer-color: #0f0f0f;
    --footer-text-color: #fefefe;
    
    --primary-font: Inter, 'Product Sans', sans-serif;
    --secondary-font: 'Product Sans', sans-serif;
    --hand-font: 'Hand', sans-serif;
    --mandy-font: 'Mandy', sans-serif;
  
    --success-button-background: rgba(39,174,96,.1);
    --success-button-color: #27ae60;
    --success-button-border: #27ae60;
  
    --blue-button-background: rgba(20,89,200,.1);
    --blue-button-color: #1459c8;
    --blue-button-border: #1459c8;
}
  
[data-theme="Moon"] {
    --primary-color: #0f0f0f;
    --secondary-color: #fefefe;
    --gray-color: #aaaaaa;
    --lighter-gray-color: #777777;
    --light-gray-color: #ebf0f3;
    --dark-gray-color: #777777;
    --header-border-color: #222222;
    --header-dropdown-color: #fefefe;
    --experience-color: #0f0f0f;
    --footer-color: #0f0f0f;
    --footer-text-color: #fefefe;
  
    --primary-font: Inter, 'Product Sans', sans-serif;
    --secondary-font: 'Product Sans', sans-serif;
    --hand-font: 'Hand', sans-serif;
    --mandy-font: 'Mandy', sans-serif;
  
    --success-button-background: rgba(39,174,96,.1);
    --success-button-color: #27ae60;
    --success-button-border: #27ae60;
  
    --blue-button-background: rgba(20,89,200,.1);
    --blue-button-color: #1459c8;
    --blue-button-border: #1459c8;
}