.main {
  height: 100%;
  padding: 30px 50px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

header {
  display: flex;
  margin: 20px 0;
}

header .logo h3 {
  color: #ff2f2f;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.banner {
  margin: 240px 0;
  position: relative;
}

.banner .name {
  position: relative;
  z-index: 1;
}

.banner .name h2 {
  font-size: 56px;
  letter-spacing: 1.2px;
}

.banner .name p {
  color: #aeaeae;
  font-size: 22px;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.banner .social-links {
  margin-top: 10px;
}

.banner .social-links ul li + li {
  margin-left: 15px;
}

.banner .social-links ul li a {
  color: #ff2f2f;
}

.banner .social-links ul li a:hover {
  color: var(--secondary-color);
}

.banner .social-links ul li a i {
  font-size: 24px;
}

.banner .circle {
  position: absolute;
  top: 50%;
  left: 260px;
  transform: translate(0, -50%);
  z-index: 0;
}

.specialize {
  text-align: center;
}

.specialize h4 {
  font-size: 38px;
}

.specialize .list {
  margin: 50px 100px;
}

.specialize .list ul li {
  display: flex;
}

.specialize .list ul li + li {
  margin-top: 50px;
}

.specialize .list ul li .icon {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.specialize .list ul li .icon span {
  padding: 10px;
  background-color: #ff2f2f;
  border-radius: 50%;
}

.specialize .list ul li .content {
  text-align: left;
}

.specialize .list ul li .content .title {
  font-size: 24px;
}

.specialize .list ul li .content .description {
  color: #aeaeae;
  margin-top: 10px;
  font-size: 16px;
}