.main {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.scroll-to-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  border-radius: 50%;
  font-size: 32px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header, .footer, .banner, .work, .experience-container, .skills {
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 1100px) {
  .header, .footer, .banner, .work, .experience-container, .skills {
    max-width: 700px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .header, .footer, .banner, .work, .experience-container, .skills {
    margin: 0 30px;
  }
}