@font-face {
  font-family: 'Product Sans';
  src: url('./assets/fonts/productsans.ttf');
}

html, body,
#harsh-app, #harsh-app > div {
  height: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

ul li {
  display: inline;
  list-style: none;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}